.personalInfo {
  width: "100%";
  flex-direction: "row-reverse";
  justify-content: center;
  align-items: center;
}
.learnMoreSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.codeIconStyle {
  margin-right: 100px;
}

.imageHeader {
  justify-content: center;
  align-items: center;
  background-image: url("../images/googleIt.jpg");
  background-size: auto; /* Scale the image to cover the entire header */
  color: #fff; /* Set text color for better visibility */
}
